.section {
	background-color:lavenderblush;
	padding: 20px;
	margin-bottom:30px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.sub-section{
	background-color: aquamarine;
	padding: 20px;
}